@model MVVC_App.Models.AddPersonViewModel
@{
    ViewBag.Title = "Add Person";
}

<h2>Add Person</h2>

<div>
    @Html.ValidationSummary(true)
    @using (Html.BeginForm("AddPerson", "Person", FormMethod.Post))
    {
        <div>
            @Html.ValidationMessageFor(m => m.FirstName, "", new { @class = "text-danger" }) <br />
            @Html.ValidationMessageFor(m => m.LastName, "", new { @class = "text-danger" })
        </div>

        <div>
            @Html.LabelFor(m => m.FirstName)
            @Html.TextBoxFor(m => m.FirstName)
        </div>

        <div>
            @Html.LabelFor(m => m.LastName)
            @Html.TextBoxFor(m => m.LastName)
        </div>

        <div>
            @Html.LabelFor(m => m.DOB)
            @Html.TextBoxFor(m => m.DOB)
        </div>

        <div>
            @Html.LabelFor(m => m.State)
            @Html.DropDownListFor(m => m.State, Model.StateList)
        </div>

        <input type="submit" value="Add Person" />
    }
</div>
